@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9eff8;
  color: #FFF;
  font-family: 'Comfortaa';
  font-size: 12pt;
  padding-bottom: 4em;
}

html::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.content {
  width: 80%;
  margin-left: 10%;
}

h1 {
  color: #f7714c;
  font-weight: bolder;
  margin-bottom: 1em;
}

.clickable {
  cursor: pointer;
}

.progressBar,
.progressBar div {
  width: 100%;
  height: 5px;
  background-color: #333333;
  transition: all 1s linear;
}

#progressBar {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #c38d9e;
}

.mainNav h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.navLink {
  display: block;
  padding: 10px;
  width: 100%;
  padding: 0.5em 1.5em 0.5em 0;
  color: #99586d;
  text-decoration: none;
  background-color: none;
}

.navLink:visited {
  color: #99586d;
}

.navLinkActive:visited {
  color: #f7714c;
}

.navLinkActive {
  background-color: rgb(218, 211, 202);
  color: #F7882F;
  font-weight: bold;
}

.content ul {
  display: flex;
  justify-content: left;
  overflow-x: auto;
}

.content ul li {
  display: inline-block;
  min-width: 30em;
  background-color: #dee7ed;
  color: #f7714c;
  margin-right: 1em;
  padding: 1em;
}

.content ul li h2 {
  font-size: 2em;
}

.podCatContainer {
  margin-bottom: 1em;
}

.podCatContainer h3 {
  color: #f7714c;
}

.podCat {
  display: flex;
  justify-content: left;
  width: 100%;
  overflow-x: auto;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .content {
    width: 100vw;
    margin-left: 0em;
  }

  .content ul {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: top;
  }

  .content ul li {
    display: block;
    margin-bottom: 1em;
    min-width: 0;
    margin-right: 0;
  }
}